<div class="footer page--footer-top container">
   <div class="region region-footer-top">
      <nav class="block-keyareasofexpertise" role="navigation" aria-labelledby="block-keyareasofexpertise-2-menu" id="block-keyareasofexpertise-2" data-block-plugin-id="system_menu_block:key-areas-of-expertise">
         <p id="block-keyareasofexpertise-2-menu">${properties.title1}</p>
         <ul class="menu menu--key-areas-of-expertise nav">
            <li class="menu-icon menu-icon-441 first">
               <a href="#" data-drupal-link-system-path="node/1001">${properties.item1}</a>
            </li>
            <li class="menu-icon menu-icon-436">
               <a href="#" data-drupal-link-system-path="node/956">${properties.item2}</a>
            </li>
            <li class="menu-icon menu-icon-446 last">
               <a href="#" data-drupal-link-system-path="node/13201">${properties.item3}</a>
            </li>
         </ul>
      </nav>
      <section id="block-searchfinderblock" data-block-plugin-id="search_finder_block" class="block block-tal-ingredient-search block-search-finder-block clearfix">
         <p class="block-title">${properties.title2}</p>
         <div class="footer-search-finder-block">
            <form class="tal-search-finder-form" data-drupal-selector="tal-search-finder-form" action="/search/ingredients/results" method="post" id="tal-search-finder-form" accept-charset="UTF-8">
               <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-keyword js-form-item-keyword form-no-label form-group">
                  <span class="input--wrapper">
                     <label style="display:none !important;" for="edit-keyword">${properties.searchLabel}</label><input class="search form-text form-control" placeholder="Search" data-drupal-selector="edit-keyword" type="text" id="edit-keyword" name="keyword" value="" size="60" maxlength="128">
                     <p class="input--title"></p>
                  </span>
               </div>
               <button data-drupal-selector="edit-search" class="button js-form-submit form-submit btn-primary btn icon-before" type="submit" id="edit-search" name="op" value="Search"><span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
               ${properties.searchLabel}</button><input autocomplete="off" data-drupal-selector="form-l0og3rwpquoqnyydnuztu7zonx5uzda0b6bsthv5hhq" type="hidden" name="form_build_id" value="form-L0oG3RwpQUoqNyyDNuZtu7ZoNX5uzda0b6BsTHV5HhQ"><input data-drupal-selector="edit-tal-search-finder-form" type="hidden" name="form_id" value="tal-search-finder-form">
            </form>
            <div class="advance-search"><a href="http://comprod.prod.cloud.tateandlyle.com/search/ingredients">${properties.filterLabel}</a></div>
         </div>
      </section>
   </div>
</div>