.cmp-hello-world-sass:before{content:"\003e";display:inline-block;padding:0 10px}

.header-container {
	max-width: 85%;
    margin: auto !important;
}

.field.field--name-field-title.field--type-string.field--label-hidden.field--item {
    color: red;
}